@font-face {
    font-family: 'Tmon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-family: 'Tmon';
}

.desc{
    font-family: 'Pretendard';
}

:root{
    --primary-color: #fcc61d;
    --white-color: #f7f7f7;
    --black-color: #333333;
    --bg-color: #333563;
    --gray-color: #ced0e3;

}


/* main1 영역 */
.main1 {
    background-color: var(--bg-color);
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;

}

.main-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    color: var(--white-color);
    font-size: 64px;
}

.main-desc{
    color: var(--white-color);
    font-size: 24px;
}


.main-cta a{
    text-decoration: none;
    display: block;
    font-size: 24px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.main-cta1{
    color: var(--black-color);
    background-color: var(--primary-color);
}

.main-cta2 {
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}
